@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/account/changepassword" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2">Nhập khẩu cũ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="passwordOld" autofocus value="@ViewBag.passwordOld">
                    @Html.ValidationMessage("passwordOld", new { @style = "color:red;font-style:italic;" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Nhập mật khẩu mới:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="passwordNew" value="@ViewBag.passwordNew">
                    @Html.ValidationMessage("passwordNew", new { @style = "color:red;font-style:italic;" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Nhập lại mật khẩu mới:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="passwordNewRepeat" value="@ViewBag.passwordNewRepeat">
                    @Html.ValidationMessage("passwordNewRepeat", new { @style = "color:red;font-style:italic;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-warning" href="~/product">
                        <i class="fa fa-ban"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>