@model SV18T1021118.Web.Models.EmployeePaginationResult
@{
    ViewBag.Title = "Nhân viên";
}

<!-- search form -->
<form action="~/employee" method="get">
    <div class="input-group">
        <input type="text" name="searchValue" class="form-control" placeholder="Nhập thông tin cần tìm kiếm..." autofocus value="@Model.SearchValue">
        <span class="input-group-btn">
            <button type="submit" id="search-btn" class="btn btn-flat btn-primary">
                <i class="fa fa-search"></i>
            </button>
            <a href="~/employee/create" class="btn btn-flat btn-success" style="margin-left: 5px"><i class="fa fa-address-book"></i> Bổ sung </a>
        </span>
    </div>
</form>

@if (Model.RowCount == 0)
{
    <b style="padding-top: 10px;">Không tìm thấy khách hàng nào phù hợp</b>
}
else
{
    <p>
        Có tổng cộng <b>@Model.RowCount</b> nhân viên trên tổng số <b>@Model.PageCount</b> trang
    </p>
    <div class="table-responsive" style="margin-top:20px">
        <table class="table table-bordered table-hover table-striped">
            <thead class="btn-primary">
                <tr>
                    <th>Họ:</th>
                    <th>Tên:</th>
                    <th>Ngày sinh:</th>
                    <th>Ảnh</th>
                    <th>Ghi chú</th>
                    <th style="width:70px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>@item.LastName</td>
                        <td>@item.FirstName</td>
                        <td>@item.BirthDate.ToString("MMMM dd, yyyy")</td>
                        <td><img src="@item.Photo" style="height:100px;width:170px" /></td>
                        <td>@item.Notes</td>
                        <td class="text-right">
                            <a href="~/employee/edit/@item.EmployeeID" class="btn btn-xs btn-success">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="~/employee/delete/@item.EmployeeID" class="btn btn-xs btn-danger">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div align="center">
        <ul class="pagination">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.Page)
                {
                    <li class="active">
                        <a>@i</a>
                    </li>
                }
                else
                {
                    <li><a href="~/employee?page=@i&searchValue=@Model.SearchValue">@i</a></li>
                }

            }
        </ul>
    </div>
}




